
@{
    ViewBag.Title = "Citas del laboratorio";
    Layout = "~/Views/Shared/Layouts/DashboardProveedor.cshtml";
}

<div class="page-heading">
    

<div class="body-wrapper">
    <div class="ltn__login-area pb-110">
        <div class="container">
            <div class="page-title">
                <div class="row">
                    <div class="col-12 col-md-6 order-md-1 order-last">
                        <h1>Citas</h1>
                        <p class="text-subtitle text-muted">..</p>
                    </div>
                </div>
            </div>

            <section id="multiple-column-form">
                <div class="row match-height">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Citas del laboratorio</h4>
                            </div>
                            <div class="card-content">
                                <div class="card-body">

                                    <div class="table-responsive">
                                        <table id="tbl-citas" class="table">
                                            <thead>
                                                <tr>
                                                    <th>ID Cita</th>
                                                    <th>ID Examen</th>
                                                    <th>ID Usuario</th>
                                                    <th>Fecha</th>
                                                    <th>Estado</th>                                                   

                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title-area ">
                        <h3 class="section-title">Subir Resultados</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="">
                    <div class="account-login-inner">
                        <form id="form" class="needs-validation" novalidate>
                            <h5>Información del Laboratorio</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <h6>Id Cita</h6>
                                    <div class="input-control">
                                        <input type="text" name="ltn__name" class="form-control" id="txtIdCita" aria-describedby="inputGroupPrepend" required>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <h6>Id Usuario</h6>
                                    <div class="input-control">
                                        <input type="text" name="ltn__name" class="form-control" id="txtIdUsuario" aria-describedby="inputGroupPrepend" required>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <h6>Descripción</h6>
                                    <div class="input-control">
                                        <input type="text" name="ltn__lastname" class="form-control" id="txtDescripcion" aria-describedby="inputGroupPrepend" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h6>Evaluación</h6>
                                    <div class="input-control">
                                        <textarea type="text" name="ltn__cedjuridica" class="form-control" id="txtEvaluacion" aria-describedby="inputGroupPrepend" required></textarea>
                                    </div>
                                </div>

                            </div>

                            <div class="btn-wrapper">
                                <button class="theme-btn-1 btn reverse-color btn-block" id="btnRegistrarResultado" type="submit">Subir Resultado</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        </div>
            
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/Assets/Scripts/ListarCitasLab.js"></script>