.ltn__call-to-action-area {
    background-color: white;
}

.slide-item-info-inner {
    width: 80%;
}


.slide-item-info-inner {
    background-color: rgba(0, 0, 0, 0.4);
}

.text1 {
    color: white;
}

.text2 {
    color: white;
}

.text3 p {
    color: white;
}
