body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px !important;
    line-height: 24px;
    font-weight: 400;
    color: #212112;
    background-position: center;
    background-repeat: repeat;
    background-size: 7%;
    background-color: #fff;
    overflow-x: hidden;
    transition: all 200ms linear;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}
