
@{
    ViewBag.Title = "Listar";
    Layout = "~/Views/Shared/Layouts/DashboardAdmin.cshtml";
}

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>Proveedores</h3>
                <p class="text-subtitle text-muted">..</p>
            </div>
        </div>
    </div>

    <section id="multiple-column-form">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Proveedores registrados</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">

                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Fecha de registro</th>
                                            <th>Nombre</th>
                                            <th>Laboratorios registrados</th>
                                            <th>Eliminar</th>
                                            <th>Editar informacion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


