@{
    ViewBag.Title = "Suscripción";
}


<div class="mt-100 ltn__our-history-area pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ltn__our-history-inner">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="liton_tab_2_2">
                            <div class="ltn__product-tab-content-inner">
                                <div class="row">
                                    <div class="col-lg-6 align-self-center">
                                        <div class="about-us-img-wrap about-img-left">
                                            <img src="/Assets/img/who.jpg" alt="Image">
                                            <div class="ltn__history-icon">
                                                <i class="icon-award"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 align-self-center">
                                        <div class="about-us-info-wrap">
                                            <div class="section-title-area ltn__section-title-2--- text-center---">
                                                <h6 class="section-subtitle section-subtitle-2 ltn__secondary-color">Felicitaciones</h6>
                                                <h1 class="section-title"> Suscripción completada con exito! </h1>
                                                <p>Ahora puedes registrar laboratorios y potenciar tus ventas con NoLimits Solutions</p>
                                            </div>

                                            <p>Es momento de hacer crecer tu negocio</p>
                                            <div class="btn-wrapper animated">
                                                <a href="/Proveedor" class="theme-btn-1 btn btn-effect-1 text-uppercase">Regresar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/Assets/Scripts/ValidarSuscripcionProveedor.js"></script>