
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/Layouts/DashboardProveedor.cshtml";
}

<section class="row">
    <div class="col-12 col-lg-9">
        <div class="row">
            <div class="col-6 col-lg-5 col-md-6">
                <div class="card">
                    <div class="card-body px-4 py-4-5">
                        <div class="d-flex align-items-center">
                            <div class="avatar avatar-xl">
                                <img id="proveedor-pic" src="~/Assets/img/2.jpg" />
                            </div>
                            <div class="ms-3 name">
                                <h5 class="font-bold" id="proveedor-name">Nombre del usuario</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 col-md-6">
                <div class="card">
                    <div class="card-body px-4 py-4-5">
                        <div class="row">
                            <div class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                <div class="stats-icon purple mb-2">
                                    <i class="fas fa-money-bill-wave"></i>
                                </div>
                            </div>
                            <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                                <h6 class="text-muted font-semibold">Ingresos totales</h6>
                                <h6 class="font-extrabold mb-0" id="total-ingresos"></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-4 col-md-6">
                <div class="card">
                    <div class="card-body px-4 py-4-5">
                        <div class="row">
                            <div class="col-md-3 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start ">
                                <div class="stats-icon blue mb-2">
                                    <i class="fas fa-shopping-basket"></i>
                                </div>
                            </div>
                            <div class="col-md-9 col-lg-12 col-xl-12 col-xxl-7">
                                <h6 class="text-muted font-semibold">Total de compras realizadas</h6>
                                <h6 class="font-extrabold mb-0" id="compras-realizadas"></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Visualizacion de ventas por mes</h4>
                    </div>
                    <div class="card-body">
                        <div id="chart-profile-visit"></div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</section>

<script src="~/Scripts/apexcharts/apexcharts.min.js"></script>
<script src="~/Assets/Scripts/DashboardProveedor.js"></script>
<script src="~/Assets/Scripts/DataDashboardProveedor.js"></script>