@{
    Layout = "~/Views/Shared/Layouts/_LayoutPublic.cshtml";
}

<div class="body-wrapper">
    <div class="ltn__blog-area ltn__blog-item-3-normal mb-100">
        <div id="examenes-container" class="container">
        
           
        </div>
    </div>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/Assets/Scripts/ListarExamenesGeneral.js"></script>