
@{
    ViewBag.Title = "Laboratorios";
}

<div class="body-wrapper">
    <div class="ltn__blog-area ltn__blog-item-3-normal mb-100">
        <div id="labs-container" class="container">

        </div>
    </div>
</div>



<script src="~/Assets/Scripts/ListarLabsGeneral.js"></script>