<div class="body-wrapper">
    <div class="ltn__utilize-overlay"></div>
    <div class="ltn__team-details-area mb-120">
        <div class="container mt-50">
            <div class="row">
                <div class="col-lg-4">
                    <div class="ltn__team-details-member-info text-center mb-40">
                        <div class="team-details-img">
                            <div class="ltn__shop-details-img-gallery">
                                <div class="ltn__shop-details-large-img">
                                    <div class="single-large-img">
                                        <a href="img/product/1.png" data-rel="lightcase:myCollection">
                                            <img src="~/Assets/img/producto/1.png" />
                                        </a>
                                    </div>
                                </div>
                                <div class="ltn__shop-details-small-img slick-arrow-2">
                                    <div class="single-small-img">
                                        <img src="~/Assets/img/producto/2.png" />
                                    </div>
                                    <div class="single-small-img">
                                        <img src="~/Assets/img/producto/3.png" />
                                    </div>
                                    <div class="single-small-img">
                                        <img src="~/Assets/img/producto/4.png" />
                                    </div>
                                    <div class="single-small-img">
                                        <img src="~/Assets/img/producto/5.png" />
                                    </div>
                                    <div class="single-small-img">
                                        <img src="~/Assets/img/producto/6.png" />
                                    </div>
                                    <div class="single-small-img">
                                        <img src="~/Assets/img/producto/7.png" />
                                    </div>
                                    <div class="single-small-img">
                                        <img src="~/Assets/img/producto/7.png" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="ltn__social-media-3">
                            <ul>
                                <li><a href="#" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#" title="Twitter"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="ltn__team-details-member-info-details">
                        <h2>Nombre Laboratorio</h2>
                        <h2>Informacion del Laboratorio</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="ltn__team-details-member-about">
                                    <ul>
                                        <li><strong>Ubicacion:</strong> 13/A, NYC</li>
                                        <li><strong>Especialidad:</strong> Heart Surgeon</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="ltn__team-details-member-about">
                                    <ul>
                                        <li><strong>Correo Electronico:</strong> example@example.com</li>
                                        <li><strong>Telefono:</strong> +0123-456 789</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="btn-wrapper animated">
                                    <span class="theme-btn-1 btn btn-effect-1 text-uppercase">@Html.ActionLink("Ver Exámenes", "Examenes", "Laboratorio")</span>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>